*{
	box-sizing: border-box;
	outline: none;
}

html {
	box-sizing: border-box;
	min-height: 100% !important;
	height: 100%;
	/* Fixes page jumping when scroll bar shows/hides
			https://aykevl.nl/2014/09/fix-jumping-scrollbar
	*/
	width: 100vw;
	overflow: visible; // Important for IntroJS

}


body {
	/* ------SASS------- */
	/*font-size: $dp-html-font-size;*/
	font-size:13px;
	display: block;
	flex-direction: column;
	min-height: 100vh;

	margin: 0;
	padding: 0;
	/* ------SASS------- */
	/*font-family: $pd-font-family;
	color: $dp-text-color;*/
	/* ------CSS------- */
	font-family: "roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", arial, sans-serif;
	color: #4d4d4d;
	min-height: 100% !important;
	height: 100%;
	/* ------SASS------- */
	/*background-color: $dp-light;*/
	background-color: #fff;
	overflow-x: hidden;
}

.row__outer {
	display: flex;
	justify-content: center;
}

.row__inner {
	display: flex;
	/* ------SASS------- */
	/* @include breakpoint(xxs) {
		max-width: calc(100vw - 1rem);
		width:calc(100vw - 1rem);
	}

	@include breakpoint(md) {
		max-width: calc(100vw - 2rem);
		width: calc(100vw - 2rem);
		// max-width:1816px;
	}
	@include breakpoint(xxl) {
		// max-width: calc(100vw - 8rem);
		max-width:1816px;
	}

	@media print{
		width:100% !important;
	} */

}

.shell {
	position: relative;
	z-index: 1;
}

.ui-view-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	padding-bottom: 6rem;
	/* ------SASS------- */
	/*background-color: $dp-background;*/
	/* ------CSS------- */
	background-color: #F2F2F2;

	/* ------SASS------- */
	/*@include breakpoint(xxs) {
		padding-bottom: 2rem;
		min-height: calc(100vh - 26.3rem);
		}
	@include breakpoint(xs) {
		min-height: calc(100vh - 25.3rem);
	}
	@include breakpoint(sm) {
		min-height: calc(100vh - 21.2rem);
	}
	@include breakpoint(md) {
		min-height: calc(100vh - 23.7rem);
	}
	@include breakpoint(lg) {
		padding-bottom: 6rem;
		min-height: calc(100vh - 22.6rem);
	}

	@include breakpoint(xxl) {
		padding-bottom: 2rem;
		min-height: calc(100vh - 346px);
	}*/
}

.row__outer--footer-bar {
	/* ------SASS------- */
	/* background-color: $dp-background-footer; */
	/* ------CSS------- */
	background-color: #333333;
	/* ------SASS------- */
	/*border-top: 0.4rem solid $dp-primary;*/
	/* ------CSS------- */
	border-top: 0.4rem solid #008FD5;

  /* This is the argument that allows the footer to be % below the content of the website */
  margin-top: 4%;
	padding:20px;
	flex-direction: column;
	/* ------SASS------- */
	/*@include breakpoint(xxs){
		padding:0 0.5rem 0rem 0.5rem;
	}
	@include breakpoint(md){
		padding:0 1rem;
		margin-bottom:0;
	} */
	/* ------CSS------- */
	@media print{
		padding:0 1rem;
	}
}


.row__inner--footer-bar {
	width:100%;
	/* ------SASS------- */
	/*@include breakpoint(xxs){
		display: flex;
		margin: 1rem auto;
		justify-content: space-between;
		flex-direction: column;
	}

	@include breakpoint(md){
		margin: 1rem auto;
		flex-direction: row;
	} */
}
.footer-bar_button{
    border-radius: 2px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    line-height: 1.4285714286;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-color: rgba(0,0,0,.08);
    color: #4d4d4d;
    background-color: #f6f6f6;
    background-image: linear-gradient(#f6f6f6,#f1f1f1);
}
div.row__inner--footer-bar{
	margin: 0 auto;
}

.footer-bar__logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.footer-bar__logo-text {
	display: block;
	margin: 0 0 0 0.5rem;
	font-weight: 700;
	text-transform: none;
	/* ------SASS------- */
	/* color: $dp-light; */
	color: #ffffff;
	user-select: none;
	/* ------SASS------- */
	/*@include breakpoint(xxs){
		font-size: 12px;
		line-height: 0.95rem;
		width: 4rem;
	}
	@include breakpoint(md){
		font-size: 18px;
		line-height: 1.3rem;
		width: 5rem;
	}
	@include breakpoint(lg) {
		display: inline-flex;
		align-items: center;
		flex-shrink: 0;
	}*/
}

.footer-bar__logo:hover .footer-bar__logo-text {
	/*color: $dp-light;*/
	color: #ffffff;
}

.footer-bar__logo-image {
	user-select: none;
	/* ------SASS------- */
	/*@include breakpoint(xxs){
		width: 30px;
		height: 30px;
	}
	@include breakpoint(md){
		width: 40px;
		height: 40px;
	}*/
}
.footer-bar__social-links{
	padding: 0;
	list-style: none;
	margin: 0.5rem 0;
	display:flex;
	align-items: stretch;
	border-right: 1px solid #c4c4c4;
	/* ------SASS------- */
	/*@include breakpoint(xxs){
		flex-wrap: wrap;
	}
	@include breakpoint(sm){
		flex-wrap: nowrap;
	}*/
}
.footer-bar__social-link-item{
	display: flex;
	align-items: center;
	position: relative;
	/* ------SASS------- */
	/*@include breakpoint(xxs){
		font-size: 0.8rem;
		margin: 0 0.9rem;
	}
	@include breakpoint(md){
		font-size:1.3rem;
		margin: 0 1rem;
	}*/
}
footer-bar__social-link-item svg{
	fill: #c4c4c4;
}
.footer-bar__social-link-item a{
	color:#c4c4c4;
	width:24px;
	height:24px;
	text-decoration: none;
}
.footer-bar__social-link-item:first-of-type{
	/* ------SASS------- */
	/* @include breakpoint(xxs){
		width:100%;
		padding-bottom: 1rem;
	}
	@include breakpoint(sm){
		width:auto;
		padding-bottom: 0;
	} */
}
.footer-bar__social-link-item:first-of-type	a{
	width:auto;
	height:auto;
}

.footer-bar__social-link-item.facebook a, footer-bar__social-link-item.flickr a{
	width:20px;
	height:20px;
}
.footer-bar__social-link-item:hover{
	opacity:0.7;
}
.footer-bar__links {
	padding: 0;
	list-style: none;
	margin: 0.5rem 0;
	display:flex;
	align-items: center;
	/* ------SASS------- */
	/* @include breakpoint(lg) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		flex-grow: 1;
	}*/
}
.footer-bar__links a{
	/* ------SASS------- */
	/* color:$dp-light; */
	/* ------CSS------- */
	color: #ffffff;
}
.footer-bar_button{
	margin-left: 1rem;
	color: #4d4d4d !important;
	padding:1re 2rem;
	border-radius: 4px;
}
.footer-bar__link-item {
	display: flex;
	align-items: center;
	position: relative;
	text-transform: uppercase;
}
.footer-bar__link-item:after{
	content: "";
	position: absolute;
	width: 1px;
	display: block;
	right: 0;
	background: #5b5b5b;
	margin: 0;
	/* ------SASS------- */
	/*
	@include breakpoint(xxs){
		height: 50%;
	}
	@include breakpoint(lg){
		height: 80%;
	} */
}
.footer-bar__link-item:last-of-type:after{
	background:transparent;
}

.footer-bar__link-item:last-child:after,
.footer-bar__link-item:nth-last-child(1):after {
	content: '';
}

.footer-bar__link {
	display: inline-flex;
	font-weight: normal;
	/* ------SASS------- */
	/* color: $dp-black; */
	/* ------CSS------- */
	color: #000000;
	text-decoration: none;
	user-select: none;
	text-align: center;
	/* ------SASS------- */
	/* @include breakpoint(xxs){
		font-size: 8px;
		margin: 0 0.3rem;
	}
	@include breakpoint(lg){
		font-size: px-to-rem($dp-html-font-size);
		margin: 0 0.5rem;
	}
*/
}

.footer-bar__link--components:before {
	content: '|';
	padding-right: 0.5rem;
}

.footer-bar__link:hover {
	text-decoration: none;
}
.footer-bar-line{
	width:100%;
	height:1px;
	background:#5b5b5b;
}
.un-logo{
    width:100%;
    height:100%;
}
svg path{
	/* ------SASS------- */
    /* fill:$dp-light; */
	fill: #ffffff;
}
/* @include breakpoint(xxs) */
@media only screen and (max-width: 0){
	.row__inner {
		max-width: calc(100vw - 1rem);
		width:calc(100vw - 1rem);
	}
	.ui-view-wrapper{
		padding-bottom: 2rem;
		min-height: calc(100vh - 26.3rem);
	}
	.row__outer--footer-bar{
		padding:0 0.5rem 0rem 0.5rem;
	}
	.row__inner--footer-bar{
		display: flex;
		margin: 1rem auto;
		justify-content: space-between;
		flex-direction: column;
	}
	.footer-bar__logo-text{
		font-size: 12px;
		line-height: 0.95rem;
		width: 4rem;
	}
	.footer-bar__logo-image{
		width: 30px;
		height: 30px;
	}
	.footer-bar__social-links{
		flex-wrap: wrap;
	}
	.footer-bar__social-link-item{
		font-size: 0.8rem;
		margin: 0 0.9rem;
	}
	.footer-bar__social-link-item:first-of-type{
		width:100%;
		padding-bottom: 1rem;
	}
	.footer-bar__link-item:after{
		height: 50%;
	}
	.footer-bar__link{
		font-size: 8px;
		margin: 0 0.3rem;
	}
}
/* @include breakpoint(xs) */
@media screen and (min-width: 400px){
	.ui-view-wrapper{
		min-height: calc(100vh - 25.3rem);
	}

}
/* @include breakpoint(sm) */
@media screen and (min-width: 525px){
	.ui-view-wrapper{
		min-height: calc(100vh - 21.2rem);
	}
	.footer-bar__social-links{
		flex-wrap: nowrap;
	}
	.footer-bar__social-link-item:first-of-type{
		width:auto;
		padding-bottom: 0;
	}
}
/* @include breakpoint(md) */
@media screen and (min-width: 768px){
	.row__inner{
		max-width: calc(100vw - 2rem);
		width: calc(100vw - 2rem);
	}
	.ui-view-wrapper{
		min-height: calc(100vh - 23.7rem);
	}
	.row__outer--footer-bar{
		padding:0 1rem;
		margin-bottom:0;
	}
	.row__inner--footer-bar{
		margin: 1rem auto;
		flex-direction: row;
	}
	.footer-bar__logo-text{
		font-size: 18px;
		line-height: 1.3rem;
		width: 5rem;
	}
	.footer-bar__logo-image{
		width: 40px;
		height: 40px;
	}
	.footer-bar__social-link-item{
		font-size:1.3rem;
		margin: 0 1rem;
	}
}

/* @include breakpoint(lg) */
@media screen and (min-width: 992px){
	.ui-view-wrapper{
		padding-bottom: 6rem;
		min-height: calc(100vh - 22.6rem);
	}
	.footer-bar__logo-text{
		display: inline-flex;
		align-items: center;
		flex-shrink: 0;
	}
	.footer-bar__links{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		flex-grow: 1;
	}
	.footer-bar__link-item:after{
		height: 80%;
	}
	.footer-bar__link{
		font-size: 13px;
		margin: 0 0.5rem;
	}

/* @include breakpoint(xl) */
@media screen and (min-width: 1200px){

}
/* @include breakpoint(xxl) */
@media only screen and (max-width: 1600px){
	.row__inner{
		max-width:1816px;
	}
	.ui-view-wrapper{
		padding-bottom: 2rem;
		min-height: calc(100vh - 346px);
	}
}
